Repository blue-hood/velement: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --quiet

Moved from babel to tsc.
  .babelrc
  package-lock.json
  package.json
Due: none

Change generics order.
  dist/index.d.ts
  src/index.ts
Due: prettier --write, eslint --fix --quiet

Moved createVirtualElement to createElement
  dist/index.d.ts
  dist/index.js
  src/index.ts
Due: prettier --write, eslint --fix --quiet

Install test enviroment
  .eslintrc.js
  .huskyrc.json
  jest.config.js
  package-lock.json
  package.json
  src/__tests__/__snapshots__/index.ts.snap
  src/__tests__/index.ts
  tsconfig.jest.json
  tsconfig.json
Due: prettier --write, eslint --fix --quiet

Implemented tiny tests.
  src/__tests__/__snapshots__/index.ts.snap
  src/__tests__/index.ts
Due: prettier --write, eslint --fix --quiet

Implemented tests.
  src/__tests__/__snapshots__/index.ts.snap
  src/__tests__/index.ts
Due: prettier --write, eslint --fix --quiet

Changed prettier settings
  .eslintrc.js
  .lintstagedrc.json
  dist/index.d.ts
  dist/index.js
  package-lock.json
  package.json
  src/index.ts
Due: prettier --write, eslint --fix --quiet

Improved overloads of createElement.
  dist/index.d.ts
  src/__tests__/index.ts
  src/index.ts
Due: prettier --write, eslint --fix --quiet

Add Circle CI config
  .circleci/config.yml
  .lintstagedrc.json
Due: none

Embedded Circle CI badge
  README.md
Due: prettier --write

Embedded CODE CLIMATE badge
  README.md
Due: prettier --write

Added CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Due: prettier --write

Changed tsconfig.
  README.md
  dist/index.js
  package-lock.json
  tsconfig.jest.json
  tsconfig.json
Due: prettier --write, eslint --fix --quiet

Wrote README.
  README.md
Due: prettier --write

Wrote usage.
  README.md
  src/__tests__/__snapshots__/examples.ts.snap
  src/__tests__/examples.ts
  tsconfig.jest.json
Due: prettier --write, eslint --fix --quiet

Wrote usage of VirtualElement.
  README.md
  src/__tests__/__snapshots__/examples.ts.snap
  src/__tests__/examples.ts
Due: prettier --write, eslint --fix --quiet

Wrote usage of createElement.
  README.md
  src/__tests__/__snapshots__/examples.ts.snap
  src/__tests__/examples.ts
Due: prettier --write, eslint --fix --quiet

Published v0.0.0 to npm.
  package.json
Due: none

Supported es3.
  README.md
  dist/index.js
  package.json
  tsconfig.json
Due: prettier --write, eslint --fix --quiet

Fixed pretty print
  README.md
Due: prettier --write

Improved overloads of createElement
  README.md
  dist/index.d.ts
  src/__tests__/examples.ts
  src/__tests__/index.ts
  src/index.ts
Due: prettier --write, eslint --fix --quiet

Improved module overloads of createElement
  README.md
  dist/index.d.ts
  package-lock.json
  package.json
  src/__tests__/__snapshots__/examples.ts.snap
  src/__tests__/examples.ts
  src/__tests__/index.ts
  src/index.ts
Due: prettier --write, eslint --fix --quiet

Settings for JSX.
  .lintstagedrc.json
  src/__tests__/__snapshots__/index.tsx.snap
  src/__tests__/index.tsx
  tsconfig.jest.json
Due: none

Update README.md
  README.md
  package.json
Due: prettier --write

Replaced to npm version badge.
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.md)
  eslint --fix --quiet: any of: *.{js,ts}
